.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user-card-container {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #8696a0;
  padding: 5%;
}

.card {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
